.customModalSearch {
  width: 800px !important;
  margin-top: 45px;
  .header-search-modal {
    background-color: #FFFFFF;
    height: 64px;
    width: 100%;
    .left {
      color: #272727CC;
      margin-left: 23px;
    }
    .modal-icon {
      margin-right: 20px;
    }
  }
  .ant-modal-content{
    border-radius: 2px;
    .ant-modal-header{
      border-top-left-radius: 2px !important;
      border-top-right-radius: 2px !important;
      padding-left: 0px !important;
      padding-right: 0 !important;
    }
    .ant-modal-footer {
      border-top: 0;
    }
  }
  .group__invite--checkbox {
    .ant-checkbox-checked::after {
      border-radius: 2px;
      border: 1px solid #0498c1;
    }
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #0498c1;
      border-color: #0498c1;
    }
    .ant-checkbox-inner {
      border-radius: 2px;
    }
  }

  .group__btn--invite {
    width: 79px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    background: #0498c1;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 2px;

    &:hover {
      background: #0498c1;
    }
  }
}
