.doc-right-content{
  margin-left: -12px;
  margin-right: -12px;
    .doc-right-content-item{
      color: rgba(39, 39, 39, 0.8);
      border-radius: 2px;
      width: fit-content;
      padding-top: 4px;
      padding-bottom: 4px;
      background-color: rgba(39, 39, 39, 0.05);
      display: flex;
      align-items: center;
      margin: 4px 12px;
      // &:first-child{
      //   margin-top: 0;
      // }
      img{
        width: 28px;
      }
      .doc-right-content-right{
        margin-left: 10px;
        p{
          margin: 0;
          font-size: 15px;
        }
        a{
          color: #1a73e8;
          font-size: 13px;
          text-decoration: none;
          font-weight: 600;
        }
      }
    }
  }