@import "../../../../../styles/variables.scss";
.form-wrapper .change-password-form{
  margin-top: 5px;

  & h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #262B32;
  }

  & p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #414346;

  }
  & .ant-form-item-label {
    text-align: left;
    // font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #414346;
    ::before{
      display: none !important;
    }
    ::after {
      display: none;
    }
  }

  & .ant-input {
    padding: 12px 17px;
    border: 1px solid rgba(65, 67, 70, 0.1);
    border-radius: 5px;
  }
  & .footer-end {
    display: flex;
    justify-content: flex-end;
  }

  & .button {
    padding: 10px 30px;
    border: none;
    // border-radius: 10px;
    cursor: pointer;
  }

  & .submit-button {
    background: #0498C1;
    // border-radius: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;

  }

  & .reset-button {
    background-color: #e9f0f4;
    // margin-right: 20px;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    background-color: #fff;
    opacity: 0.6;

  }

  .ant-form-item {
    margin-bottom: 0px;
  }
  
  .ant-input-affix-wrapper{
    padding: 16px 8px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
  }

  .ant-input {
    border: none;
  }
}




