@import "../../styles/variables.scss";

.modal-create-company {
  .ant-modal-content {
    border-radius: 30px;
  }
  .ant-modal-body {
    padding: 0 !important;
  }
  .ant-modal-footer {
    padding: 20px 30px;
    border-top: 0;
  }
}
.modal-create-company-wrapper {
  .modal-header {
    text-align: center;
    padding: 20px;
    background-color: #0498C1;
    border-radius: 15px 15px 0 0;
    .title {
      color: $dark-blue;
      font-weight: bold;
      text-align: center;
      span {
        line-height: normal;
        font-size: 28px;
      }
    }
  }
  .modal-body {
    padding-top: 20px;
    .name-company {
      label {
        span {
          color: black;
          font-size: 20px;
        }
        input {
          border-radius: 15px;
          padding: 10px;
          margin-top: 10px;
          font-size: 18px;
          background-color: rgba(4, 152, 193, 0.15);
        }
      }
      margin-bottom: 20px;
    }
    .domain-company {
      .domain__link{
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        
      }
      label {
        span {
          color: black;
          font-size: 18px;
          border-radius: 0 15px 15px 0;
        }
      }
      input {
        border: 0;
        border-bottom: 1px solid #d9d9d9;
        color: $dark-blue;
        font-size: 18px;
        padding: 10px;
        border-radius: 15px 0 0 15px;
        background-color: rgba(4, 152, 193, 0.15);
        &:focus {
          box-shadow: 0px 2px 0px 0px rgba(24, 144, 255, 0.2);
        }
      }
      .domain-company-inner {
        position: relative;
        img {
          position: absolute;
          right: 5px;
          bottom: 13px;
        }
      }
      .new-domain {
        color: black;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 0;
        span {
          font-size: 18px;
          color: $dark-blue;
        }
      }
    }
  }
  .modal-footer {
    padding: 30px 0 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    .btn-cancel {
      border: solid 1px darkgray;
      border-radius: 15px;
      height: 40px;
      width: 180px;
    }
    .btn-create {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #0498C1;
      cursor: pointer;
      box-shadow: 0px 5px 15px rgb(2 47 150 / 10%);
      border-radius: 15px;
      padding: 5px 30px;
      height: 40px;
      width: 180px;
      span {
        color: #fff;
        font-size: 22px;
      }
    }
  }
  
  .error {
    margin-top: 10px;
    color: red;
    font-size: 14px;
  }
}
.ant-tooltip-inner {
  min-width: fit-content;
}
