@import "../../styles/variables.scss";

.loading-fullpage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #4e596fbf;
  z-index: 999;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &.redirect {
    background-color: transparent;
    .ant-spin {
      span {
        font-size: 50px !important;
      }
    }
  }
  .wrapper {
    width: 50%;
    text-align: center;
    color: #fff;
    .title {
      font-weight: bold;
      font-size: 28px;
      margin-bottom: 15px;
    }
    .description {
      font-size: 18px;
      margin-bottom: 30px;
    }
  }
}
