@import "../../styles/mixin.scss";
@import "../../styles/variables.scss";

// .sidebar--layout {
//   padding-top: 104px;
//   padding-left: 36px;
//   padding-right: 36px;

//   @include lg-down {
//     padding-top: 84px;
//     padding-left: 30px;
//     padding-right: 30px;
//   }

//   .sidebar--layout__item__first {
//     cursor: pointer;
//     padding-top: 12px;
//     padding-bottom: 12px;
//     border-radius: 8px;
//     padding-left: 5px;
//     @include lg-down {
//       img {
//         width: 18px !important;
//       }

//       .sidebar--layout__menu {
//         font-size: 14px;
//       }
//     }

//     &:first-child {
//       margin-bottom: 30px;
//     }
//   }

//   .sidebar--layout__item {
//     cursor: pointer;
//     padding-top: 12px;
//     padding-bottom: 12px;
//     border-radius: 8px;
//     padding-left: 5px;
//     @include lg-down {
//       img {
//         width: 18px !important;
//       }

//       .sidebar--layout__menu {
//         font-size: 14px;
//       }
//     }

//     &:first-child {
//       margin-bottom: 30px;
//     }
//   }
//   .sidebar--layout__item:hover {
//     background-color: #efefef;
//   }

//   .active {
//     background-color: #efefef;
//   }

//   .sidebar--layout__title {
//     color: #fd830e;
//     font-size: 16px;
//     font-weight: bold;
//   }

//   .sidebar--layout__menu {
//     color: #0498c1;
//   }

//   .sidebar--layout__sendTitle {
//     font-size: 16px;
//     color: #262b32;
//     text-align: center;

//     @include lg-down {
//       font-size: 14px;
//     }
//   }

//   .sidebar--layout__sendBtn {
//     background-color: #0498c1;
//     color: #fff;
//     font-weight: bold;
//     border: none !important;
//     box-shadow: none !important;
//     width: 100%;
//     border-radius: 10px;
//     margin-bottom: 20px;
//     height: 34px;
//   }
// }
.sidebar {
  margin-top: 40px;
  height: 100%;
  .sidebar--main-top {
    height: 108px;
    background: #ffffff;
    // border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    &.collapsed-level1 {
      width: 247px;
    }
    &.collapsed-level2 {
      width: 98px !important;
    }
    .logo {
      margin: 0 18px 0 14px;
      width: 72px;
      height: 72px;
    }
    .info {
      width: calc(100% - 72px);
      padding-right: 20px;
      .name {
        font-family: DM Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #272727;
      }
      .description {
        font-family: DM Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        margin-top: 5px;
        color: #272727;
      }
    }
  }
  .sidebar--layout {
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $sidebarBg2;
    &__left {
      width: 190px;
      // height: calc(100% - 150px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-family: Arial;
      font-style: normal;
      // border: 1px solid rgba(0, 0, 0, 0.2);
      background-color: $sidebarBg1;
      &.collapsed {
        width: 56px;
        overflow: hidden;
        display: flex;
      }
      .name-module {
        margin: 20px 0 20px 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 5px;

        &.center {
          justify-content: center;
          align-items: center;
        }

        p {
          margin: 0;
          font-weight: bold;
          font-size: 14px;
          line-height: 16px;
          display: flex;
          align-items: center;
          color: #78797d;
        }
        img {
          cursor: pointer;
        }
      }
      .module {
        display: flex;
        height: 35px;
        align-items: center;
        font-family: Arial;
        font-style: normal;
        cursor: pointer;
        margin-bottom: 5px;
        padding: 4px;

        &.center {
          justify-content: center;
          align-items: center;
        }

        .logo {
          margin: 0 12px 0 0px;
        }
        .title {
          font-family: Arial;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 14px;
          color: #78797d;
        }
        .active {
          color: #fff !important;
        }
      }
      .active {
        // padding: 4px;
        background-color: #32a1c8 !important;
      }

      &--name {
        margin-top: 10px;
        span {
          font-family: Arial;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 12px;
          text-align: center;
          color: #ffffff;
        }
      }
      &--logo {
        width: 100%;
        text-align: center;
        margin-top: 9px;
        cursor: pointer;
        &__main {
        }
      }
      &--item {
        width: 100%;
        height: 32px;
        display: flex;
        justify-content: center;
        margin: 30px 0 0 0;
        cursor: pointer;
        &:hover {
          width: 32px;
          border-radius: 5px;
          background-color: rgba(241, 242, 244, 0.5);
        }

        &.active {
          background-color: white;
          border-radius: 0 !important;
          width: 100% !important;
          height: 50px !important;
        }
      }
      &--bottom {
        display: flex;
        // align-items: center;
        flex-direction: column;
        padding: 4px;

        &-icon {
          width: 100%;
          text-align: center;
          margin-bottom: 10px;
          cursor: pointer;
          display: flex;
          align-items: center;

          &-title {
            font-size: 12px;
            margin-left: 8px;
            color: $mineShaft;
          }

          &.center {
            justify-content: center;
            align-items: center;
          }
        }

        &-logo {
          padding: 20px 0px 60px 0px;
        }
      }
    }
    &__right {
      width: 214px;
      height: 100%;
      &.collapsed {
        width: 56px !important;
        // display: flex;
        // justify-content: center;
      }
      &.left-collapsed {
        // width: 212px;
      }
      &--title {
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          // width: 89px;
          height: 34px;
          font-family: Arial;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 34px;
          color: #32a1c8;
          cursor: pointer;
        }
        img {
          // margin-right: 12px;
          width: 24px;
          height: 24px;
          cursor: pointer;
        }
      }
      &--divide {
        border-bottom: 2px solid #78797d;
        margin: 10px 14px 0;
        &.collapse {
          width: 100%;
          margin: 10px 0 0 0;
        }
      }
      &--block {
        margin-top: 20px;
        border-radius: 5px;
        &__item {
          margin-bottom: 6px;
          min-height: 30px;
          cursor: pointer;
          display: flex;
          align-items: center;
          &--icon {
            margin-left: 17px;
            max-width: 20px;
            max-height: 20px;
          }
          &--title {
            height: 14.86px;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            margin-left: 11px;
            line-height: 23px;
            color: #78797d;
            display: table;
          }
          &:hover {
            background-color: #91c9de;
            img {
              // margin-left: 10px;
            }
          }
        }
        .active {
          background-color: #32a0c7;
          img {
            // margin-left: 13px;
          }
          span {
            color: #fff;
          }
        }
      }
      &-new {
        display: none !important;
      }
    }
    .exit-icon {
      position: absolute;
      top: 395px;
      right: -11px;
      cursor: pointer;
      z-index: 5;
      // transform: rotate(180deg);
      // display: none;
    }
  }
}
.rotate-180 {
  transform: rotate(180deg);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
