.header-post{
    height: 86px;
    margin-bottom: 10px;
    font-family: Arial;
    font-style: normal;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    position: relative;
    padding: 14px 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__item{
        width: 140px;
        &--title{
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
        }
        &--sub{
            margin-top: 6px;
            font-weight: normal;
            font-size: 10px;
            line-height: 11px;
            text-transform: capitalize;
        }
    }
    .line{
        height: 85%;
        border-left: 1px solid rgba(0, 0, 0, 0.2);
    }

    .arrow-left{
        position: absolute;
        left: 0;
        top: 35%;
        cursor: pointer;
    }
    .arrow-right{
        position: absolute;
        right: 0;
        top: 35%;
        cursor: pointer;
    }
    .close-icon{
        position: absolute;
        right: 3px;
        top: -3px;    
        cursor: pointer;
    }
    .setting-icon{
        position: absolute;
        right: 20px;
        top: -3px;    
        cursor: pointer;
    }



    // &__item{
    //     width: calc((100% - 30px) / 4);
    //     height: 100%;
    //     &--header{
    //         height: 24px;
    //         border-radius: 2px 2px 0px 0px;
    //         display: flex;
    //         position: relative;
    //         align-items: center;
    //         padding-left: 6px;
    //         span{
    //             font-family: Arial;
    //             font-style: normal;
    //             font-weight: bold;
    //             font-size: 8px;
    //             line-height: 9px;
    //             text-transform: uppercase;
    //             margin-left: 4px;
    //             color: #FFFFFF;
    //         }
    //         &-close{
    //             position: absolute;
    //             top: 4px;
    //             right: 5px;
    //             cursor: pointer;
    //         }
    //         &-pagination{
    //             position: absolute;
    //             right: 3px;
    //             bottom: 3px;
    //             display: flex;
    //             .ellipse{
    //                 width: 9px;
    //                 height: 9px;
    //                 background-color: #FFF;
    //                 border-radius: 50%;
    //                 color: #00B641;
    //                 font-family: Arial;
    //                 font-style: normal;
    //                 font-weight: bold;
    //                 font-size: 5px;
    //                 line-height: 9px;
    //                 display: flex;
    //                 align-items: center;
    //                 text-align: center;
    //                 justify-content: center;
    //                 margin: 0 3px;
    //             }
    //             img{
    //                 cursor: pointer;
    //             }
    //         }
    //     }
    //     &--body{
    //         height: 61px;
    //         background: #FFFFFF;
    //         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    //         border-radius: 0px 0px 2px 2px;
    //         padding: 6px 8px;
    //         display: flex;
    //         // &-title{
    //         //     font-family: Arial;
    //         //     font-style: normal;
    //         //     font-weight: bold;
    //         //     font-size: 12px;
    //         //     line-height: 14px;
    //         //     text-transform: uppercase;
    //         //     color: #5F9AF9;
    //         //     text-align: center;
    //         //     padding: 11px 36px 0;
    //         // }
    //         // &-des{
    //         //     font-family: Arial;
    //         //     font-style: normal;
    //         //     font-weight: normal;
    //         //     font-size: 8px;
    //         //     line-height: 9px;
    //         //     text-transform: capitalize;
    //         //     color: #000000;
    //         //     text-align: center;
    //         //     padding-top: 1px;
    //         // }
    //         &__left{
    //             width: 34px;
    //             height: 100%;
    //             position: relative;
    //             img{
    //                 width: 100%;
    //                 height: 37px;
    //             }
    //             span{
    //                 font-family: Arial;
    //                 font-style: italic;
    //                 font-weight: normal;
    //                 font-size: 6px;
    //                 line-height: 7px;
    //                 text-align: justify;
    //                 color: #32A1C8;
    //                 position: absolute;
    //                 bottom: 0;
    //                 left: 0;
    //             }
    //         }
    //         &__right{
    //             width: calc(100% - 34px);
    //             height: 100%;
    //             padding: 0 3px;
    //             display: flex;
    //             flex-direction: column;
    //             justify-content: space-between;
    //             &--title{
    //                 font-family: Arial;
    //                 font-style: normal;
    //                 font-weight: bold;
    //                 font-size: 9px;
    //                 line-height: 10px;
    //                 text-transform: uppercase;
    //                 color: #32A1C8;
    //             }
    //             &--des{
    //                 font-family: Arial;
    //                 font-style: normal;
    //                 font-weight: normal;
    //                 font-size: 9px;
    //                 line-height: 10px;
    //                 text-transform: capitalize;
    //                 color: #6E6F72;
    //             }
    //             &--sub{
    //                 font-family: Arial;
    //                 font-style: italic;
    //                 font-weight: normal;
    //                 font-size: 8px;
    //                 line-height: 9px;
    //                 text-align: justify;
    //                 color: #32A1C8;
    //             }
    //         }
    //         ul{
    //             margin-top: 12px;
    //             margin-left: 10px;
    //             padding: 0;
    //             list-style-type: disc;
    //             li{
    //                 font-family: Arial;
    //                 font-style: normal;
    //                 font-weight: bold;
    //                 font-size: 9px;
    //                 line-height: 10px;
    //                 text-transform: capitalize;
    //                 color: #78797D;
    //                 span{
    //                     font-family: Arial;
    //                     font-style: italic;
    //                     font-weight: normal;
    //                     font-size: 8px;
    //                     line-height: 9px;
    //                     text-align: justify;
    //                     color: #32A1C8;
    //                     margin-left: 3px;
    //                 }
    //             }
    //         }
    //     }
    // }
}
#green{
    color: #3DB300 !important;
}
#red{
    color: #FF494E !important;
}
#yellow{
    color: #FEA800 !important;
}
#blue{
    color: #32A2C9 !important;
}